
    <h1>
        <%= title %> 
    </h1>
    <p>
        <%= content %>
    </p>
    <h3>
        <%= `${person.firstname} ${person.lastname}` %>
    </h3>
    <address>
        <%= `${person.location.city} ${person.location.country}`%>
    </address>
