    <h1>
        <%= title %>
    </h1>
    <hr>
    <p>
        <%= content %>
    </p>
    <hr>
    <% if (team) { %>
        <h3>Maak kennis met het team</h3>
        <ul>
            <% team.forEach(dino=> { %>
                <li>
                <%- dino %> <!-- -teken zorgt ervoor dat je de strong tag in de pagecontroller kunt zien, maar voorkeur is altijd = want is minder hackgevoelig  -->
                </li>
                <% }); %>
        </ul>
        <% } %>
